.subtitle{color:#aaaaaa}
body{
  font-family:sans-serif;
  background-color:#222222;
  color:#dddddd
}
a:link{color:#aaaaff;text-decoration:none}
a:visited{color:#ff99ff;text-decoration:none}
pre{background-color:#333333;color:#cccccc}
